.politics-block {
    padding: 102px 0;

    .wrapper {
        max-width: 1875px;
    }

    &__wrap {
        display: flex;
    }

    .block-title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    &__img {
        width: 32%;
    }

    &__text {
        width: 68%;
        padding-left: 111px;
        margin-top: 70px;
        padding-right: 203px;

        p {
            margin-top: 0;
            line-height: 1.8;
            font-size: 17px;
            margin-bottom: 31px;
        }
    }

    .red-link {
        margin-top: 23px;
    }
}